.libraryDisplay__main {
  height: 100vh;
  overflow: auto;
}

.libraryDisplay__textbox {
  max-width: 80%;
  margin: 0 auto;
  padding: 4em;
  white-space: normal;
  text-align: center;
}

.libraryDisplay__main h1 {
  font-family: var(--font-family);
  margin-bottom: 2em;
  /* text-align: center; */
  /* margin: 0 auto 2em; */
}

.libraryDisplay__main p {
  font-family: var(--font-family);
  font-size: 22px;
  text-align: left;
  margin-bottom: 15px;
  /* display: grid; */

  /* padding-left: 4em; */
}
.blogDisplay__filtered_library {
  margin: 9em auto 0;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  width: 80%;
}

@media screen and (max-width: 1010px) {
  .blogDisplay__filtered_library {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .blogDisplay__filtered_library {
    grid-template-columns: repeat(1, 1fr);
  }
}
