.libraryDisplay__main {
  height: 100vh;
}

.libraryDisplay__textbox {
  padding: 4em;
  white-space: normal;
  /* border-radius: 6px;
  background-color: aliceblue;
  border: 2px dashed gray;
  max-width: 70%;
  padding: 1em;
  margin-bottom: 0.4em;

  padding: 2em 4em;
  max-width: 80%;
  

  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto; */
}

.libraryDisplay__main h1 {
  font-family: var(--font-family);
  text-align: center;
  margin-bottom: 2em;
  /* font-weight: 800;
  font-size: 30px;
  line-height: 75px;
  letter-spacing: -0.04em;
    */
}

.libraryDisplay__main p {
  font-family: var(--font-family);
  margin-top: 1.5rem;
  /* font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 5px;

  color: var(--color-text);

 */
}
