.libraryDisplay__main {
  height: 100vh;
  overflow-y: auto;
}

.libraryDisplay__textbox {
  max-width: 80%;
  margin: 0 auto;
  padding: 4em;
  white-space: normal;
  text-align: center;
}

.libraryDisplay__main h1 {
  font-family: var(--font-family);
  margin-bottom: 2em;
  /* text-align: center; */
  /* margin: 0 auto 2em; */
}

.libraryDisplay__main p {
  font-family: var(--font-family);
  font-size: 22px;
  text-align: left;
  margin-bottom: 15px;
  /* display: grid; */

  /* padding-left: 4em; */
}
.blogDisplay__filtered_library {
  margin: 9em auto 0;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  /* width: 80%; */
}

.blogDisplay__filtered_library p {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 11.649px;
  line-height: 35px;
  /* or 300% */
  color: #ffffff;
}

@media screen and (max-width: 1010px) {
  .blogDisplay__filtered_library {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .blogDisplay__filtered_library {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .libraryDisplay__textbox {
    padding: 2em 0%;
    font-size: 12px;
  }
  .libraryDisplay__main p {
    font-size: 12px;
  }
}
